#buttons {
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: 50px
    

}
#prevButton {
    height: 50px;
    width: 100px;
    background-color: bisque;
}
#nextButton {
    height: 50px;
    width: 100px;
    background-color: bisque;
}
#content {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    
}